<h1>{{ title }}</h1>
<label for="select">選擇 Template：</label>
<select
  name="select"
  [(ngModel)]="selectTemplate"
  (ngModelChange)="changeTemplate($event)"
>
  <option *ngFor="let template of templates" [ngValue]="template">
    {{ template }}
  </option>
</select>
<br />
<ul *ngFor="let template of templates">
  <li routerLink="{{ template }}">
    <button
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="selectTemplate = template"
    >
      {{ template }}
    </button>
  </li>
</ul>

<h1>{{ selectTemplate }}</h1>
<router-outlet></router-outlet>
